{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="about_us">
    <h2>About Us</h2>
    <div class="about_content">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius aliquam saepe suscipit delectus necessitatibus est perferendis iure nihil quos? Adipisci eum error eius consequuntur quia, dignissimos ex corporis nam!
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius aliquam saepe suscipit delectus necessitatibus est perferendis iure nihil quos? Adipisci eum error eius consequuntur quia, dignissimos ex corporis nam!
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius aliquam saepe suscipit delectus necessitatibus est perferendis iure nihil quos? Adipisci eum error eius consequuntur quia, dignissimos ex corporis nam!</p>
    </div>
    <hr>
        <h2>Our Mission</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius aliquam saepe suscipit delectus necessitatibus est perferendis iure nihil quos? Adipisci eum error eius consequuntur quia, dignissimos ex corporis nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius aliquam saepe suscipit delectus necessitatibus est perferendis iure nihil quos? Adipisci eum error eius consequuntur quia, dignissimos ex corporis nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius aliquam saepe suscipit delectus necessitatibus est perferendis iure nihil quos? Adipisci eum error eius consequuntur quia, dignissimos ex corporis nam</p>
</div>

{% endblock body %}
